header {
  width: 100%;
  display: flex;
  background-image: linear-gradient(#aeeff0, #307c71);
  justify-content: space-between;
}

.logo {
  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
}

.logo h1{
    color: white;
}