
body{
    background-color:rgb(187, 235, 115);
}
header{
    background-color: white;
    height: 258px;
}
header div{
float: left;
}
header div:nth-child(2){
float: right;
}
#contenu{
    width: 50%;
    border: 1px solid black; 
    min-height: 300px ;
    margin: auto;
}
